<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Quản lý nhà cung cấp</title>
        <th:block th:replace="base :: resources"></th:block>
    </head>
    <body>
        <div th:replace="base :: header"></div>

        <section class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên nhà cung cấp</th>
                        <th>Mã số thuế</th>
                        <th>Trạng thái hoạt động</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="p, i : ${Providers}">
                        <td th:text="${p.id}"></td>
                        <td th:text="${p.businessName}"></td>
                        <td th:text="${p.tax}"></td>
                        <td th:text="${UserProviders[i.index].isActive}"></td>
                        <td>
                            <button th:if="${UserProviders[i.index].isActive == false}" type="button" class="btn btn-primary mb-2" 
                                    th:onclick="'updateActive(\'' + @{/api/users/} + ${p.id} + '\')'">Hoạt động</button>
                            <button th:unless="${UserProviders[i.index].isActive == false}" type="button" class="btn btn-primary mb-2"
                                    th:onclick="'updateActive(\'' + @{/api/users/} + ${p.id} + '\')'">Không hoạt động</button>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </section>
        
        <div th:replace="base :: footer"></div>
        
        <script th:src="@{/js/script.js}"></script>
    </body>

</html>
